[submodule "tests/riscv-tests"]
	path = tests/riscv-tests
	url = git@github.com:riscv-software-src/riscv-tests.git
[submodule "tools/riscv-isa-sim"]
	path = tools/riscv-isa-sim
	url = git@github.com:riscv-software-src/riscv-isa-sim.git
[submodule "tools/riscv-pk"]
	path = tools/riscv-pk
	url = git@github.com:riscv-software-src/riscv-pk.git
[submodule "generators/riscv-sodor"]
	path = generators/riscv-sodor
	url = git@github.com:ucb-eecs151tapeout/riscv-sodor.git
